h1 {
    background-color: black;
    color: white;
    padding: 20px 0;
    text-align: center;
    font-size: 22px;
}

main {
    background-color: #EFEEE7;
    height: 550px;
}

section {
    margin: 10px;
}

img {
    width: 200px;
    height: 200px;
}

.left-side,
.center {
    float: left;
    padding: 20px;
    box-sizing: border-box;
}

.right-side {
    float: right;
    box-sizing: border-box;
    width: 33%;
}

.left-side,
.right-side {
    padding: 20px 0;
}

.center {
    width: 33%;
}

.info {
    font-weight: bold;
}